* {
        box-sizing: border-box;
        font-family: "Times New Roman", Times, serif;
    }
    
    h1 {
        text-align: center;
        margin-bottom: 15px;
        font-size:175%;
    }
    
    .col-lg-4 {
        float:left;
    }

    .col-md-6 {
        float:left;
    }
    
    .innerbox {
        background-color: gray;
        border: solid 1px black;
        padding: 5px;
        margin: 5px;
        position: relative;
    }
    
    section {
        background-color: red;
        border: solid 1px black;
        position: absolute;
        top: 0px;
        right: 0px;
        padding:10px;
        font-size:125%;
    }

    p {
    	padding-top:30px;
    }
    

// Desktop version
@media(min-width:992px) {}

// Tablet Version
@media(min-width:768px) and (max-width:991px) {}

// Mobile Version
@media(max-width:767px) {}
